<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_diamond_symbol"
        android:roundIcon="@drawable/logo_diamond_symbol"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RummyTracker"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        tools:targetApi="31">
<!--        android:theme="@style/Theme.AppCompat.Light.NoActionBar"-->
<!--        android:icon="@mipmap/ic_launcher"-->
<!--        android:roundIcon="@mipmap/ic_launcher_round"-->

        <activity
            android:name=".GameMenuActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>   <!-- ta parent activity sm mogu določit zato, da integrirani up action/back button v app bar/toolbar/action bar-u ve kam more it-->
        <activity
            android:name=".AddGameActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>   <!-- ta parent activity sm mogu določit zato, da integrirani up action/back button v app bar/toolbar/action bar-u ve kam more it-->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScoreTableActivity"
            android:label="Score Table"
            android:parentActivityName=".GameMenuActivity" />
        <activity
            android:name=".AddPlayerActivity"
            android:label="Add Player"
            android:parentActivityName=".ScoreTableActivity" />
        <activity
            android:name=".InsertPlayerActivity"
            android:label="Insert Player"
            android:parentActivityName=".AddPlayerActivity" />
        <activity
            android:name=".InsertScoreActivity"
            android:label="Insert Score"
            android:parentActivityName=".AddPlayerActivity" />
        <activity
            android:name=".ViewStatsActivity"
            android:label="View Stats"
            android:parentActivityName=".GameMenuActivity" />
        <activity
            android:name=".MostWinsActivity"
            android:label="View Most Wins Stat"
            android:parentActivityName=".ViewStatsActivity" />
        <activity
            android:name=".AverageScoresActivity"
            android:label="View Average Scores Stat"
            android:parentActivityName=".ViewStatsActivity" />
    </application>



</manifest>